<div class='{{classes}}' id="{{id}}" data-id="{{dataId}}">
  <div class="{{classLeft}}">
    {{{avatar}}}
    <div>
      {{{title}}}
      {{{message}}}
    </div>
  </div>
  <div class="{{classRight}}">
    {{{date}}}
    {{#if badge}}
      {{{badge}}}
    {{/if}}
  </div>
  {{{formSearch}}}
</div>
