<form name="{{name}}">
  <fieldset>
    <legend>{{{title}}}</legend>
    <ul>
     {{{fields}}}
    </ul>
  </fieldset>
  <div class="{{controlsClass}}">
    {{{button}}}
    {{{link}}}
  </div>
</form>
