<button
  {{#if id}}id='{{id}}'{{/if}}
  {{#if disabled}}disabled='{{disabled}}'{{/if}}
  {{#if type}}type='{{type}}'{{/if}}
  {{#if ariaLabel}}aria-label='{{ariaLabel}}' {{/if}}
  {{#if dataTestId}}data-testid='{{dataTestId}}'{{/if}}
>
  {{text}}
</button>
