<button
  class="{{classes}}"
  {{#if id}}id='{{id}}'{{/if}} {{#if disabled}}disabled{{/if}}
  {{#if type}}type{{/if}}
  {{#if ariaLabel}}aria-label="{{ariaLabel}}" {{/if}}
  {{#if dataTestId}}data-testid="{{dataTestId}}"{{/if}}
>
  {{text}}
</button>
