<label class="{{labelClass}}">
  {{#if label}}<span class="{{spanClass}}">{{label}}</span>{{/if}}
  <input
    class="{{inputClass}}"
    name="{{name}}"
    {{#if value}}value="{{value}}" {{/if}}
    {{#if placeholder}}placeholder="{{placeholder}}" {{/if}}
    {{#if disabled}}disabled="{{disabled}}" {{/if}}
    {{#if type}}type="{{type}}" {{/if}}
    {{#if ariaLabel}}aria-label="{{ariaLabel}}" {{/if}}
    {{#if dataTestId}}data-testid="{{dataTestId}}"{{/if}}
  />
  <span id="{{name}}-error-message" class="{{errorClass}}">{{#if error}}{{error}} {{/if}}</span>
</label>
